<%- include('partials/head'); -%>
<header>
    <nav>
        <ul>
            <li>
                <h1>Novel Love</h1>
            </li>
            <li><a href="/login">Login</a></li>
        </ul>
    </nav>
</header>
<section>
    <article>
        <h2>Find, chat and meet</h2>
        <p>Sign up to Novel Love to find a new potential love.</p>
        <p>
            <a href="/register">Register</a>
        </p>
    </article>
</section>
<%- include('partials/footer'); -%>