<%- include('partials/head'); -%>
<%- include('partials/header'); -%>

<body id="<%= body %>">
    <section>
        <div>
            <h1> Login</h1>
            <p>Welcome to the login page, you can fill in your details to log in to your account to find new people.
            </p>
            <p>
                If you haven't made an account yet, you can head over to the <a href="/register">register</a> page to
                sign up for Novel Love.
            </p>
        </div>
        <div>
            <form method="POST" action="/login" id="login">
                <label for="email">E-mail</label>
                <input required type="email" id="email" name="email" autocomplete="off">
                <label for="password">Password</label>
                <input required type="password" id="password" name="password" autocomplete="off">
                <button>Login</button>
            </form>
            <p>Haven't made an account yet?</p>
            <p><a href="/register">Sign up now</a></p>
        </div>
    </section>
    <%- include('partials/footer'); -%>