@import url("https://fonts.googleapis.com/css?family=Red+Hat+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,400;0,700;1,500&display=swap");

$orange:#f79d65;
$light-orange:#f7b267;
$dark-orange:#f4845f;
$light-red:#f27058;
$dark-red:#f25c54;
$steel-blue:#5b85aa;
$purple-navy:#414770;
$black:#000000;
$white:#ffffff;
$main:"Red Hat Display",
sans-serif;
$secondary:"Zilla Slab",
sans-serif;

*,
::before,
::after {
    box-sizing: border-box;
    font-family: $main;
}

ul {
    list-style: none;
    padding-inline-start: 0;
    margin-block-start: 0;
}

a {
    text-decoration: none;
    color: $orange;
}

h1 {
    margin: 0;
}

body:not(#index) {
    margin: 0;
    padding: 0;
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: $orange;
    align-items: center;
    margin-top: 2em;

    &>section {
        background-color: $white;
        margin: 2em auto;
        padding: 3em 2em;
        border-radius: 2em;
        max-width: 50%;
    }
}

header:not(#index header) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    nav {
        &>div {
            margin-top: 1.5em;

            ul {
                width: 315px;
                justify-content: space-between;
                display: flex;
                flex-wrap: wrap;

                li,
                button {
                    background-color: #fff;
                    padding: 1em;
                    border-radius: 100%;
                    width: 60px;
                    height: 60px;
                    text-align: center;
                    border: none;
                    cursor: pointer;
                }

                img {
                    width: 1.5em;
                }
            }
        }
    }

    h1 {
        text-align: center;
        font-size: 2.5em;
        color: $white;
    }
}


/* Index */
#index {
    margin: 0;
    padding: 0;
    position: relative;
    height: 100vh;

    header {
        padding: 2em 4em;
        position: absolute;
        z-index: 1;
        width: 100%;

        h1 {
            font-family: $main;
            margin: 0;
            color: $white;
            font-size: 2em;
        }

        nav ul {
            display: flex;
            align-items: center;

            li:last-child {
                margin-left: auto;
            }

            li img {
                max-width: 12em;
            }

            li a {
                text-decoration: none;
                font-family: "Red Hat Display";
                color: $orange;
                background-color: $white;
                padding: 1em 2em;
                border-radius: 2em;
                font-size: 1.1em;
            }
        }
    }

    section {
        background-image: url('../images/bannerimage.jpg');
        height: 100vh;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        text-align: center;
        position: relative;
        z-index: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        &::after {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(244, 132, 95, 0.2);
            z-index: -1;
        }

        article {
            h2 {
                font-family: $main;
                margin: 0;
                color: $white;
                font-size: 5em;
            }

            p {
                color: $white;
                font-family: $secondary;
            }

            p:last-child {
                margin-top: 2.5em;
            }

            a {
                text-decoration: none;
                font-family: $main;
                color: $white;
                background-color: $orange;
                padding: 1em 2em;
                border-radius: 2em;
                font-size: 1.1em;
            }
        }
    }
}

#login {
    section {
        display: flex;
        justify-content: space-between;
        background-color: $white;

        div:first-of-type {

            p {
                font-family: $secondary;
            }
        }

        div:last-of-type {
            flex-direction: column;
            align-items: center;
            display: flex;

            form {
                display: flex;
                flex-direction: column;
                border-bottom: 1px solid $orange;
                padding-bottom: 1em;
                width: 60%;
                margin: 0 auto;

                label {
                    font-family: $secondary;
                    margin-bottom: 0.5em;
                }

                input {
                    margin-bottom: 1.2em;
                    height: 35px;
                    border: 1px solid #b8b8b8;
                    border-radius: 0.2em;
                    padding-left: 0.5em;
                }

                button {
                    text-decoration: none;
                    font-size: 1em;
                    outline: none;
                    background-color: $white;
                    color: $orange;
                    cursor: pointer;
                    border: 1px solid $orange;
                    padding: 0.6em;
                }
            }

            a {
                text-decoration: none;
                color: $white;
                background-color: $orange;
                border: 1px solid $orange;
                padding: 0.7em 2em;
            }
        }

        &>div {
            flex: 0 50%;
        }




    }
}

#register {}